# Environment Variables Example
# SQLite Default (For Zero-Setup Local Execution)
DATABASE_URL="file:./dev.db"

# PostgreSQL Alternative:
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/fulfillment_db?schema=public"

JWT_SECRET="order_fulfillment_dispatch_secret_key_2026_btech_demo"
NEXT_PUBLIC_APP_NAME="LogiFlow Dispatch & Fulfillment System"
